extends ../templates/layout

block content

        div 
            h3 listado de alumnos
            table(border=1)
                thead 
                    tr
                        th id
                        th nombre 
                        th apellido
                        th borrar 
                        th editar
                tbody 
                    each alumno in alumnos
                        tr 
                            td=alumno.id
                            td=alumno.nombre                        
                            td=alumno.apellido
                            td 
                                a(href=`/alumnos/del/${alumno.id}`) borrar 
                            td 
                                a(href=`/alumnos/edit/${alumno.id}`) editar 
            p 
                a(href="/alumnos/add") Añadir un alumno nuevo
